.orange-btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 2rem;
  color: var(--white-color);
  background-color: var(--orange-color);
  border: 1px solid  var(--orange-color);
}
