#artists-ul {
  padding: 0;
}

#artists-ul li li {
  display: flex;
  gap: 1.5rem;
}

.hide-artist-li {
  display: none;
}

#photo-artist {
  width: 8rem;
  min-width: 8rem;
  background-color: var(--color-white);
  padding: 0.6rem 0 0.6rem;
}

#photo-artist img {
  position: relative;
  inset: -3.4rem 0.6rem;
  z-index: 100;
  object-fit: cover;
  margin: auto;
  width: 10rem;
  height: 8rem;
}

.artist-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.5rem;
}

#name {
  color: var(--dark-color);
  margin-bottom: 0;
  font-size: 1.5rem;
}

#position {
  color: var(--orange-color);
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 0;
}

#deco {
  margin: 0.5rem 0;
  background-color: var(--grey-color);
}

#biography {
  font-size: 0.9rem;
  justify-self: flex-end;
}

#more {
  flex: 1;
  border: 0.2rem solid var(--grey-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  padding: 2rem;
}
