header {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-header-index{
  background-image: url("../images/headline-bg.png");
}

.img-header-about{
  background-image: url("../images/about-bg.png");
}

#header-bar {
  display: none;
}

#header-bar ul{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  color: var(--white-color);
  background-color: var(--dark-color);
}

nav ul {
  background-color: transparent;
}

.logo{
  display: none;
}

#mobile-menu{
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  inset: 5rem 0;
  transform: translateX(100%);
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  background-color: var(--orange-transparent);
  width: 100%;
  height: 100vh;
}

#mobile-menu.display-menu {
  transform: translateX(0);
  padding-top: 3rem;
  color: var(--color-white);
  font-size: 2rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  line-height: 2;
}

.menu-option a{
  color: var(--white-color);
}

#headline {
  flex-direction: column;
  margin: 2rem 0;
  align-items: center;
}

#headline .div-container {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-right: 2em;
}

#headline h1 {
  background-image: url('../images/h1-bg.jpg');
  color: var(--color-white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-title);
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
}

#headline h2 {
  color: var(--orange-color);
  text-align: left;
  margin-top: 3rem;
  margin-bottom: 0;
}

#headline h3 {
  font-size: 1rem;
  font-weight: 900;
  font-family: var(--font-title);
  color: var(--dark-grey-color);
  text-align: left;
}

#headline p {
  font-size: 1.3rem;
  text-align: left;
}

#headline-about .div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
}

#headline-about h1 {
  color: var(--orange-color);
  font-family: var(--font-title);
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 3rem;
}

#headline-about h2 {
  color: var(--orange-color);
  text-align: center;
  margin-bottom: 2rem;
  background-color: var(--white-color);
}

#headline-about .intro-p {
  background-color: var(--white-color);
  border: 1px solid -var(--white-color);
  font-size: 1.3rem;
  align-self: center;
  text-align: center;
}

.email{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--dark-color);
  margin-top: 0;
  background-color: var(--white-color);
}

.email p{
  font-size: 1rem;
  text-align: center;
}

.email a{
  font-weight: 600;
  text-decoration: underline;
  color: var(--dark-color);
}

#certification .div-container{
  align-items: center;
  justify-content: center;
}

#certification h2{
  margin-bottom: 0.8rem;
}

.authentic-certificate img{
  margin: auto;
  width: 20rem;
  height: auto;
}