header {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-header-index {
  background-image: url("../images/headline-bg.png");
}

.img-header-about {
  background-image: url("../images/about-bg.png");
}

#header-bar {
  display: none;

  @media all and (min-width: 768px) {
    display: flex;
    background-color: var(--dark-color);
    width: 100%;
    height: 2.5rem;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
  }
}

#header-bar ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem;
  margin-right: 5rem;
  gap: 0.5rem;
  color: var(--white-color);
}

.header-bar-icon a i {
  font-size: 1.3rem;
}

#twiter {
  margin-right: 2rem;
}

.header-bar-link a {
  font-size: 0.7rem;
}

nav {
  @media all and (min-width: 768px) {
    background-color: var(--white-color);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1rem 0 black;
  }
}

nav ul {
  background-color: transparent;

  @media all and (min-width: 768px) {
    background-color: var(--white-color);
    width: 100%;
  }
}

#nav-bar {
  @media all and (min-width: 768px) {
    padding: 0;
    margin: 0 4rem;
  }
}

#logo {
  display: none;

  @media all and (min-width: 768px) {
    display: block;
  }
}

#logo img {
  width: 100%;
  height: auto;
}

#mobile-menu {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  inset: 5rem 0;
  transform: translateX(100%);
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  background-color: var(--orange-transparent);
  width: 100%;
  height: 100vh;

  @media all and (min-width: 768px) {
    position: inherit;
    flex-direction: row;
    height: auto;
    transform: none;
    background-color: transparent;
    gap: 1.2rem;
    justify-content: flex-end;
  }
}

#mobile-menu.display-menu {
  transform: translateX(0);
  padding-top: 3rem;
  color: var(--color-white);
  font-size: 2rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  line-height: 2;
}

.menu-option a {
  color: var(--white-color);

  @media all and (min-width: 768px) {
    color: var(--dark-grey-color);
    font-size: 0.9rem;
  }
}

@media all and (min-width: 768px){
  #option-square {
    border: 0.2rem solid var(--orange-color);
    padding: 0.5rem;
    a{
     color: var(--orange-color);
    }
  }

}