footer .div-container {
  display: flex;
  gap: 1rem;
}

.cc-logo img {
  object-fit: cover;
  margin: auto;
  width: 10rem;
  height: 8rem;
  background-color: aqua;
}

#desp-lincense {
  display: none;
}
