footer .div-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}


.cc-logo img {
  margin: auto;
  width: 10rem;
  height: auto;
  flex: 2;
}

#desp-lincense {
  display: none;
  flex: 1;
}