#sponsors {
  background-color: var(--dark-color);
  align-content: center;
  color: var(--dark-grey-color);
  text-align: center;
}

#sponsors .div-container{
  @media all and (min-width: 768px) {
    margin-left: 5em;
    margin-right: 5em;
  }
}

#sponsors h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

#sponsors .div-container {
  padding-top: 3rem;
}

#sponsors-ul {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  align-self: center;
  margin-bottom: 3rem;
  @media all and (min-width: 768px) {
   flex-wrap: nowrap;
   gap: 3rem;
  }
}

#sponsors-ul li {
  flex-basis: 12rem;
}

#sponsors-ul i {
  font-size: 8rem;
  @media all and (min-width: 768px) {
    font-size: 5rem;
  }
}

.hide-sponsors-about{
  @media all and (min-width: 768px){
    display: none;
  }
}
