html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--white-color);
  font-family: var(--font-text);
  font-size: 1rem;
  color: var(--dark-color);
  line-height: 1.5;
}

.div-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  max-width: 100%;
}
